.heads
  text-align: left

.lines
  text-align: left

.cell-date
  width: 110px

.cell-payee
  width: 200px

.cell-category
  width: 200px

.cell-amount
  width: 110px
  padding-right: 20px
  text-align: right

.cell-balance
  width: 110px
  padding-right: 20px
  text-align: right
