<div *ngIf="operations" class="container">
  <div class="row header">
    <span class="col-4 order-1 col-lg-2 order-lg-1" i18n="@@operations-account">Date</span>
    <span class="col-4 order-2 col-lg-2 order-lg-1" i18n="@@operations-payee">Tiers</span>
    <span class="col-4 order-2 col-lg-2 order-lg-1" i18n="@@operations-category">Catégorie</span>
    <span class="col-4 order-1 col-lg-2 order-lg-1" i18n="@@operations-wording">Note</span>
    <span class="col-4 order-2 col-lg-2 order-lg-1" i18n="@@operations-amount">Montant</span>
    <span class="col-4 order-1 col-lg-2 order-lg-1" i18n="@@operations-balance">Solde</span>
  </div>
  <div class="row"
       *ngFor="let operation of operations; let i = index;  let last = last"
       [ngClass]="{'striped': isStriped(i), 'last': last}">
    <span class="col-4 order-1 col-lg-2 order-lg-1">{{ dateToGregorian(operation.date) | date:'dd/MM/yyyy' }}</span>
    <span class="col-4 order-2 col-lg-2 order-lg-1">{{ operation.payee?.name }}</span>
    <span class="col-4 order-2 col-lg-2 order-lg-1">{{ operation.category?.name }}</span>
    <span class="col-4 order-1 col-lg-2 order-lg-1">{{ operation.wording }}</span>
    <span class="col-4 order-2 col-lg-2 order-lg-1 align-self-center amount">{{ operation.amount | currency:operation.account.currency.iso }}</span>
    <span class="col-4 order-1 col-lg-2 order-lg-1 align-self-center balance">{{ operation.balance | currency:operation.account.currency.iso }}</span>
  </div>
</div>
