.header
  margin-top: 20px
  font-weight: bold

.row
  border-top: 1px solid #dee2e6
  padding-top: 2px
  padding-bottom: 2px

.last
  border-bottom: 1px solid #dee2e6
  margin-bottom: 20px

.striped
  background-color: #f2f2f2

.amount
  padding-right: 20px
  text-align: right

.balance
  padding-right: 20px
  text-align: right
