.header
  margin-top: 20px
  font-weight: bold

.row
  border-top: 1px solid #dee2e6
  padding-top: 2px
  padding-bottom: 2px

.row-in-future
  border-top: 0
  border-bottom: 1px solid  rgba(0, 100, 255, 0.25) !important

.row-in-future-striped
  background-color: rgba(0, 100, 255, 0.15)

.row-in-past-striped
  background-color: #f2f2f2

.first-row-in-future
  border-top: 1px solid rgba(0, 100, 255, 0.25) !important

.last-row-in-past
  border-bottom: 1px solid #dee2e6
  margin-bottom: 20px

.amount
  padding-right: 20px
  text-align: right

.balance
  padding-right: 20px
  text-align: right
